<div class="row col col-12 col-lg-12 col-md-12 col-xs-12 detail-box">
    <span class="txt post">
        SRI LANKA POST
    </span>
    <span class="txt local">
        Local,
    </span>
    <span class="txt international">
        International
    </span>
    <span class="txt rates">
        Post rates calculator bt devologies inc.
    </span>
</div>

<div class="row col col-12 col-lg-12 col-md-12 col-xs-12 clearfix visible-xs justify-content-left btn-box">
    <div class="col col-lg-3 col-md-3 col-xs-3 button-box" id="about-btn">ABOUT US</div>
    <div class="col col-lg-3 col-md-3 col-xs-3 button-box" id="contact-btn">Contact us</div>
</div>