<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-center clearfix visible-xs header">
    
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 img-top">
        <div class="img-box">
            <img class="logo"src="assets/img/logo.png">              
        </div>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12 box active">
        <div class="but-box">
            CALCULATOR
        </div>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12 box inactive">
        <div class="but-box">
            ABOUT US
        </div>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12 box inactive">
        <div class="but-box">
            CONTACT
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 box">
        <div class="but-box bound">
            <a class="visit-link" href="www.devologies.com" target="_blank"><span class="bound-box">VISIT Devologies</span></a>
            <!-- <span class="bound-box">VISIT Devologies</span> -->
        </div>
    </div>

</div>
