<div class="row col-lg-12 col-xs-12 footer">
    <!-- <div class="navbar-brand ">
          <img src="assets/img/logo.png" width="100">
          <span class="header-text">
            No - 27, Hakmana,
            Matara, Sri Lanka,
            Email: info@devologies.com,
            Phone: +94 (0) 76 4877 458,
            <a href="www.devologies.com">www.devologies.com</a>
          </span>
    </div> -->
    <div class="col-12">Design and Developed by Devologies.com</div>
    
</div>

<!-- <div class="col-lg-6 col-md-6 col-xs-12 footer float-left">
    <div class="navbar-brand ">
          <img src="assets/img/logo.png" width="100" >
    </div>
</div>
<div class="col-lg-6 col-md-6 col-xs-12 footer float-right">
    <div class="navbar-brand">
          <img src="assets/img/logo.png" width="100">
    </div>
</div> -->